

<h1><%= @property.headline %></h1>

<div>
  <%=simple_format(@property.description) %>
</div>

<h2>Address</h2>

<div>
  <%= simple_format(@property.address) %>
</div>

<div>
  <b>Price:</b> <%= number_to_currency(@property.price) %></b>
</div>

<%= form_for(@booking) do |f| %>
  <div class="form-group">
    <%= f.label(:begin, "Book from", :class => "control-label")%>
    <%= f.date_field(:begin, :class => "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label(:end, "Book until", :class => "control-label")%>
    <%= f.date_field(:end, :class => "form-control") %>
  </div>

  <%= f.submit("Add property", :class => "btn btn-default btn-primary") %>

<% end %>
